<!DOCTYPE html>
<html>
  <head>
      <link rel='stylesheet' href='style.css'>
  </head>
  <body>
    <div class='div_header'>
      <ul>
        <li id='home_page' class='start_nav'><a href='/index'>Home</a></li>
        <li id='student_list'>
          <a href="/students">Student</a>
        </li>
        <li id='teacher_list'>
          <a href="/teachers">Teachers</a>
        </li>
        <li id='department_list'>
          <a href='/departments'>Departments</a>
        </li>
        <li id='major_list'>
          <a href='majors.html'>Majors</a>
        </li>
        <li id='plan_list' class='end_nav'>
          <a href='graduationPlan'>Graduation plan</a>
        </li>
        </ul>
      </div>
      <div class='space-50px'></div>
      <!-- body of the page -->
      <div class='page_container center page_container_plan'>
        <div class='search_container ' id='search_container_plan'>
          <input type='text' id='search_input' name='search_input' class='search_input' placeholder="Search...">
        </div>
        <!-- add a graudation plan -->
        <div class=''>
            <label>Name</label>
            <input type='text' class="input_plan " id='add_plan_name'>
            <lable>Credits </lable>
            <input type='number'class='input_plan' id='add_plan_credits'>
            <label>Graduation Date </label>
            <input class='input_plan' type="date"id='add_plan_date'>
            <button class='submit_add_button' id='add_plan'>Add</button>
        </div>

        <div class='show_table' id='show_table_plan'>
          <table class='show_table_table' id='show_table_table'>
              <tr>

              </tr>
          </table>
        </div>
      </div>

      <script type='text/javascript' src='graduationPlan.js'></script>
  </body>

</html>
