#teachers #department {
    color: gray;
    text-align: center;
  
  
  }
  * {
    font-family: Trebuchet MS;
  }
  div #teachers{
    border: 2px solid gray;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  div #department{
    border: 2px solid gray;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
  }
  .form_buttons{
    padding: 15px;
    color:gray;
    background-color: white;
    color:rgb(93, 101, 102);
    border: 1px solid gray;
    border-radius: 2px;
    padding-left: 50px;
    padding-right: 50px;
  
  }
  .form_buttons:hover{
    background-color: rgb(89, 132, 148);
    color:white;
  
  }
  
  .center{
    text-align: center;
  
  }
  form {
    padding: 30px;
    align-items: center;
    text-align: center;
  }
  
  #department_table{
    border: 1px solid gray;
    border-radius: 2px;
    padding:10px;
    text-align: center;
  }
  
  #department_table th {
    border: 1px solid gray;
    border-radius: 2px;
    padding:10px;
    background-color: gray;
    letter-spacing: 1px;
  }
  