
<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    <title>Student's Table Page</title>

    <link rel="stylesheet" href="style.css" media="screen">
	<script src="client.js" charset="utf-8" defer></script>

  </head>

  <body>
	<div class = "container">
		<table>
	   <tr>
		  <td>StudentID</td>
		   <td>GPA</td>
		  <td>Name</td>
		  <td>Major</td>
	   </tr>
		{{#each element}}
		{{> student}}
		{{/each}}
	   
		</table>
	</div>

  
	
	<button type="button" id="create-row-button"></button>

    <div id="modal-backdrop" class="hidden"></div>
    <div id="create-row-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Insert a Student</h3>
          <button type="button" class="modal-close-button">&times;</button>
        </div>

        <div class="modal-body">
          <div class="student-input-element">
            <label for="student-text-input">Student ID</label>
            <textarea id="student-id-input"></textarea>
          </div>
		  <div class="student-input-element">
            <label for="student-text-input">GPA</label>
            <textarea id="student-gpa-input"></textarea>
          </div>
          <div class="student-input-element">
            <label for="student-name-input">Student Name</label>
            <input type="text" id="student-name-input">
          </div>
		  <div class="student-input-element">
            <label for="student-major-input">Student Major</label>
            <input type="text" id="student-major-input">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="modal-cancel-button">Cancel</button>
          <button type="button" class="modal-accept-button">Insert Student</button>
        </div>

      </div>
    </div>

    

  </body>

</html>